* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "roboto";
    src: url(./Roboto-VariableFont_wdth\,wght.ttf);
}
.topbar {
    background-color: black;
    color: #9fa6b2;
    padding: 5px 0px;
    font-family: Arial;
}

.topbar ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
    text-transform: uppercase;
    font-size: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header img {
    padding: 10px 0px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 2px 0;
    border-width: 3px 0 1px 0;
    border-top-color: black;
    border-bottom-color: #E5E7EB;
    border-style: solid;
}

.navigation ul {
    display: flex;
    list-style: none;
    font-family: Arial;
    font-size: 10px;
    text-transform: uppercase;
}

.navigation li {
    padding: 10px 10px;
}

.navigation li:hover {
    background-color: #e5e7eb;
}
.search-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.search{
    border: none;
    height: 25px;
    padding: 0 0 0 10px;
    width: 50%;
}
.search:focus{
    border: unset;
    width: 70%;
}
.fa-search {
  color: #9FA6B2;
  font-size: 14px;
  cursor: pointer;
}
.below-header{
    width: 70vw;
    margin: 0 auto;
    padding: 20px 0px;
}
.btn{
    border-radius: 0;
    border: none;
    padding: 5px 5px;
    color: white;
    background-color: #6B7280;
}
.below-ad{
    display: flex;
    justify-content: space-between;
}
.more-from-this-page{
    padding: 10px 0;
    border-style: solid;
    border-color: #f4f5f7;
    border-width: 2px 0 2px 0;
}
.more-from-this-page h2{
    text-transform: uppercase;
    padding: 10px 0;
}
.more-from-this-page p{
    padding: 5px;
    margin: 5px 0;
    background-color: #f4f5f7;
    font-size: 16px;
}
.content h1{
    font-size: 180px;
    font-weight: 500;
}
.content li{
    font-size: 50px;
}
.columns{
    display: flex;
    gap: 30px;
    padding: 20px 0;
}
p{
    font-size: 25px;
    line-height: 30px;
}
.simple-heading{
    font-family: "roboto";
    font-weight: 400;
    font-size: 30px;
}
.underline{
    border-style: solid;
    border-color: black;
    border-width: 0 0 2px 0;
}
figcaption.anwar{
    text-transform: uppercase;
}
.bold-heading{
    font-size: 20px;
    padding: 10px 0;
    margin: 10px 0;
    border-style: solid;
    border-color: black;
    border-width: 2px 0 2px 0;
}

.beneath-column h2{
    font-size: 100px;
    font-weight: 500;
}
.beneath-column h3{
    font-size: 40px;
}
/* Desktop */
@media screen and (min-width:1100px) {
    .container {
        width: 90vw;
        margin: 0 auto;
    }
    .beneath-column{
    width: 33%;
    padding: 20px 0;
}
}
/* Tablet */
@media screen and (max-width:767px) {
    .container {
        width: 100%;
        padding: 0px 20px;
    }
}
/* Mobile */
@media screen and (max-width:500px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
}